@import '../../../global/mixins';
@import '../../../global/variables';

.noMP{
    @include noMP;
}

.heroImg{
    position: relative;
}

.heroTxt{
    position: absolute;
    top: 55%;
    right: 0;
    color: $white;
    background-color: $black;
    padding-left: 3%;
    padding-right: 8%;
    padding-top: .75%;
    @include mQ(427px){
        padding-right: 12%;
    }
    h2{
        font-size: 1.25em;
        @include mQ(427px){
            font-size: 3em;
        }
    }

}

.yellowTxt{
    color: $yellow;
}