@import '../../../global/mixins';
@import '../../../global/variables';

#shopHeadline{
    background-color: $black;
    padding-left: 5%;
    padding-right: 45%;
    color: $white;
    width: 35%;
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 50%;
    @include mQ(427px){
        font-size: 3.25em;
        margin-left: 65%;
        padding-right: 15%;
        margin-top: 17%;
    }
}

#boxPadding{
    padding-left: 5%;
    padding-right: 5%;
    @include mQ(427px){
        padding-right: 10%;
    }
}

.shoeBox{
    padding: .25% 5% .25% 5%;
    margin: 5%;
    border: 2px solid black;
}